


<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% if current_user.member %>
<form>
	<div class="row">
  <div class="field form-group col-md-6">
    <%= form.label :"Give a brief description" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>
		</div>
	
<div class="row">
  <div class="field form-group col-md-6">
    <%= form.label :"What's the status (client will see this)" %>
    <%= form.text_field :status, class: "form-control" %>
  </div>
	</div>

	<div class="row">
  <div class="field form-group col-md-6">
    <%= form.label :"important notes" %>
    <%= form.text_field :note, class: "form-control" %>
  </div>
		</div>


  <div class="actions">
    <%= form.submit %>
  </div>
</form>
<% end %>



<% if current_user.member == false %>
  <div class="field form-group">
    <%= form.label :'what are you needing complete' %>
    <%= form.text_area :description, :class => "textarea form-control" %>
  </div>
<div class="form-group ">
   


<%= form.hidden_field(:code, value: current_user.connect_code) %>
</div>


  

  <div class="actions form-group">
    <%= form.submit %>
  </div>

<% end %>




<% end %>
