<%= render 'home/header' %>

<p id="notice"><%= notice %></p>

<h1>Pending Tasks</h1><br>
<ul class="list-inline">
  <li class="list-inline-item"><%= link_to 'Create a new task', new_task_path, class:'btn btn-light' %></li>
		
	<li class="list-inline-item"><%= link_to 'Pending Tasks', tasks_path, class:'btn btn-light' %></li>
	<li class="list-inline-item"><%= link_to 'Completed Tasks', completed_tasks_path, class:'btn btn-light' %></li>
	
</ul>
<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Is it Complete</th>
		<th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <% @tasks.each do |task| %>
	   <% if !task.complete == true %>
	  
      <tr>
        <td><%= task.description %></td>
       
           
        <td><span class="glyphicon glyphicon-refresh alert alert-alert"></span></td>
          
		  <td><%= task.code %></td>
		  <td><%= task.client_code %></td>
		  <td><%= task.complete %></td>
        <td><%= link_to 'View Details', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <%if current_user.admin %>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
	 
	  <% end %>
    <% end %>
  </tbody>
	
</table>

<br>


