<%= render 'home/header' %>
<p id="notice"><%= notice %></p>

<h3>
  <strong>Description:</strong>
  <%= @task.description %>
</h3>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @task.note %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @task.complete %>
</p>

<%= link_to 'Edit Task', edit_task_path(@task) %> |
<%= link_to 'Go Back', tasks_path %>
