<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<%= render 'home/header' %>
<p id="notice"><%= notice %></p>
<br>


<table class="table" style="padding-bottom: 50px; text-align: center">
  <thead>
    <tr>
   <th>Request Title</th>
		<% if current_user.member %>
        <th>Note</th>
		<% end %> 
        <th>is it complete?</th>
      
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @task.brief %></td>
         <td><% if @task.complete %>
    <%= 'completed'%>
    <% else %>
    <%=  'Not competed yet' %>
    <% end %></td>
          
         
      </tr>
  </tbody>
</table>
<br>
<hr>
<div class="container" style="text-align:center;  padding-bottom: 100px; padding-top: 10px;">
	<h2 class="alert alert-info">Status Update</h2>
<p style=" padding-bottom: 50px;"> <%= @task.brief %> </p>
	<br>
	
</div>
<hr>
<div class="container" style="text-align:center;  padding-bottom: 100px; padding-top: 100px;">
	<h2>Full Description</h2>
<p style=" padding-bottom: 50px;"> <%= @task.description %> </p>
	<br>
	<% if current_user.member %>
	<h2>Notes</h2>
	<p><%= @task.note %></p>
	<% end %>
</div>





<h3><%= link_to 'Make Changes', edit_task_path(@task) %>|<%= link_to 'Go Back', tasks_path %></h3>
