<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <%= render 'home/header' %>


<p id="notice"><%= notice %></p>

<h3>Videos</h3>
<!------check to see if content code is empty------>

<% if current_user.content_code == nil && current_user.admin = false %>
<div class="alert alert-danger" role="alert">
please contact and inform us that you are not connected to our upload server</div>


<% end %>
<!------------------------------------------------->
<div class="container">
	<div class="row">
		
	
			<% if current_user.admin = true or current_user.content_code != nil %>
			<% @videos.each do |video| %>
			<div class="col-sm-4">
		

<p><%= video.name %></p>
<iframe class="embed-responsive-item"
src=<%= video.url %> allowfullscreen>
</iframe>
				
<p><small><%= video.description  %></small></p>
				
				
				
			
				
				
			
		<% if current_user.admin %>
<%= link_to 'Show', video %>
	<%= link_to 'New Video', new_video_path %>
<%= link_to 'Edit', edit_video_path(video) %>
<%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
			</div>	
	<% end %>
		<%end%>
				
		</div>
	
	</div>







<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>