<html>
 <div class="row">
    <div class="col"><hr></div>
    <div class="col-auto"><h3>Communications</h3></div>
    <div class="col"><hr></div>
</div>
	
	
	 <div class="row">
		   <% if current_user.admin == false %>
		   <% if current_user.ssla_client == true %>
		   <div class="col-lg-2">
                      <div class="div-square">
                           <a href="https://www.gotomeet.me/DamonScott1/scotts-scholastic-learning-agency" >
<img src="https://img.icons8.com/plasticine/80/000000/meeting-room.png">
							   <h4>Meeting Room</h4>
                      </a>
                      </div>


                  </div>
		   <% end %>

		   <% if current_user.pc_client == true %>
		   <div class="col-lg-2">
                      <div class="div-square">
                           <a href="https://purecode-035.my.webex.com/meet/streaming" >
<img src="https://img.icons8.com/plasticine/80/000000/meeting-room.png">
							   <h4>Meeting Room</h4>
                      </a>
                      </div>


                  </div>
		   <% end %>


		   <div class="col-lg-2">
				 <div class="div-square">
					<%= link_to home_poc_path do %>
                       <%= image_tag ( "https://img.icons8.com/officel/80/000000/phone-contact.png")%>
					 <h4><%= link_to 'Person Of Contact', home_poc_path %></h4>
					 <% end %>


                      </div>
				</div>
		 <% if current_user.member == false %>
		 <div class="col-lg-2">
				 <div class="div-square">
					<%= link_to new_task_path do %>
                       <%= image_tag ( "https://img.icons8.com/plasticine/80/000000/tasks.png")%>
					 <h4><%= link_to 'Create a new request', new_task_path %></h4>
					 <% end %>


                      </div>
				</div>
		 
		 <div class="col-lg-2">
				 <div class="div-square">
					<%= link_to status_tasks_path do %>
                       <%= image_tag ( "https://img.icons8.com/carbon-copy/80/000000/serial-tasks.png")%>
					 <h4><%= link_to 'Check Requests', status_tasks_path %></h4>
					 <% end %>


                      </div>
				</div>
 <% end %>


		   <% end %>

		   <% if current_user.admin == true %>
		   <div class="col-lg-2">
                      <div class="div-square">
                           <a href="https://purecode-035.my.webex.com/meet/streaming" >
<img src="https://img.icons8.com/plasticine/80/000000/meeting-room.png">                 <h4>Meeting Room-purecode</h4>
                      </a>
                      </div>


                  </div>

		   <div class="col-lg-2">
                      <div class="div-square">
                           <a href="https://www.gotomeet.me/DamonScott1/scotts-scholastic-learning-agency" >
<img src="https://img.icons8.com/plasticine/80/000000/meeting-room.png">                 <h4>Meeting Room-ssla</h4>
                      </a>
                      </div>


                  </div>


		   <div class="col-lg-2">
				 <div class="div-square">
					<%= link_to home_adminnotes_path do %>
                       <%= image_tag ( "https://img.icons8.com/officel/80/000000/overview-pages-3.png")%>
					 <% end %>
					<h4><%= link_to 'Admin Notes', home_adminnotes_path %></h4>


                      </div>


				</div>


		   <% end %>
           
           
           <% if current_user.exec == true %>
		   <div class="col-lg-2">
                      <div class="div-square">
                           <a href="https://purecode-035.my.webex.com/meet/streaming" >
<img src="https://img.icons8.com/plasticine/80/000000/meeting-room.png">                 <h4>Meeting Room-purecode</h4>
                      </a>
                      </div>


                  </div>


		   <div class="col-lg-2">
				 <div class="div-square">
					<%= link_to home_adminnotes_path do %>
                       <%= image_tag ( "https://img.icons8.com/officel/80/000000/overview-pages-3.png")%>
					 <% end %>
					<h4><%= link_to 'Pure Code Notes', home_adminnotes_path %></h4>


                      </div>


				</div>


		   <% end %>
		 
		 
		  <% if current_user.member == true %>
		   <div class="col-lg-2">
                      <div class="div-square">
                           <a href="https://www.constantcontact.com" >
<img src="https://img.icons8.com/bubbles/80/000000/mailchimp.png"/>                 <h4>Email Campaign</h4>
                      </a>
                      </div>


                  </div>


		    <div class="col-lg-2">
                      <div class="div-square">
                           <a href="https://www.purebooks.app" >
<img src="https://img.icons8.com/cotton/80/000000/invoice-1.png"/>                 <h4>Pure Books</h4>
                      </a>
                      </div>


                  </div>
		 
		 <div class="col-lg-2">
				 <div class="div-square">
					<%= link_to new_payment_path do %>
                       <%= image_tag ( "https://img.icons8.com/officel/80/000000/overview-pages-3.png")%>
					 <% end %>
					<h4><%= link_to 'Log Payment', new_payment_path %></h4>


                      </div>


				</div>
		 
		 
		 <div class="col-lg-2">
				 <div class="div-square">
					<%= link_to new_link_path do %>
                       <%= image_tag ( "https://img.icons8.com/pastel-glyph/64/000000/hyperlink--v2.png")%>
					 <% end %>
					<h4><%= link_to 'Pure Code Notes', new_link_path %></h4>
					 

                      </div>


				</div>


		   <% end %>
           

	   </div>





</html>