<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>World Connect</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>

  <%= render 'home/header' %>
  
   <div class="container">
    <div class="row">
		 <div class="col-lg-12 text-center">
        <h1 class="mt-5">World Connect</h1>
        <p class="lead">This is the Homebase for all your communicative needs in regards to your projects and goals</p>
			 <% if user_signed_in? %>
			 <p class="lead">Welcome back <%= current_user.first_name %></p>
			 <%end%>
			 
		</div>
	   </div>
	   
	   <!---------------User Manager-------------------------------------->
	   <div class="row">
    <div class="col"><hr></div>
    <div class="col-auto"><h3> USER MANAGEMENT</h3></div>
    <div class="col"><hr></div>
</div>
	   
	   <div class="row">
		   <% if current_user.admin %>
			<div class="col-lg-2">
				
				 <div class="div-square">
                    <%= link_to edit_user_registration_path do %>
                       <%= image_tag ( "https://img.icons8.com/ios-glyphs/80/000000/user--v1.png")%>
					 <%end%>
                      
					<h4><%= link_to 'edit profile', edit_user_registration_path %></h4>
                      </div>
				
				
				</div>
		   <div class="col-lg-2">
				 <div class="div-square">
					<%= link_to home_clients_path do %>
                       <%= image_tag ( "https://img.icons8.com/nolan/80/000000/list.png")%>
					 <%end%>
					 
					
 
					 <h4><%= link_to 'Client List', home_clients_path %></h4>
                      </div>
				
				
				</div>
		   
		   <div class="col-lg-2">
				 <div class="div-square">
					<%= link_to logs_path do %>
                       <%= image_tag ( "https://img.icons8.com/plasticine/80/000000/logs-folder.png")%>
					 <%end%>
					
 
					 <h4><%= link_to 'Session Logs', logs_path %></h4>
                      </div>
				
				
				</div>
		   <% end %>
		   
		   <% if current_user.admin == false %>
		   
		   <div class="col-lg-2">
				
				 <div class="div-square">
                    <%= link_to edit_user_registration_path do %>
                       <%= image_tag ( "https://img.icons8.com/ios-glyphs/80/000000/user--v1.png")%>
					 <% end %>
                      
					 <h4><%= link_to 'edit profile', edit_user_registration_path %></h4>
                      </div>
				
				
				</div>
		   
		   
		   <% end %>
		   
		   
				</div>
	   <br>
	   <div class="row">
    <div class="col"><hr></div>
    <div class="col-auto"><h3>CONTENT MANAGER</h3></div>
    <div class="col"><hr></div>
</div>
	   
	   
					 
                      
				
	   <div class="row">
		   <% if current_user.admin %>
		    <div class="col-lg-2">
				
				 <div class="div-square">
                    <%= link_to videos_path do %>
                       <%= image_tag ( "https://img.icons8.com/cotton/80/000000/youtube.png")%>
					 <% end %>
                      
					 <h4><%= link_to 'Video manager', videos_path %></h4>
                      </div>
				
				
				</div>
		   
		    <div class="col-lg-2">
				
				 <div class="div-square">
                    <%= link_to payments_path do %>
                       <%= image_tag ( "https://img.icons8.com/officel/80/000000/mobile-payment.png")%>
					 <% end %>
                      
					 <h4><%= link_to 'Payment manager', payments_path %></h4>
                      </div>
				
				
				</div>
				
				<% end %>
				
	   
	   <% if current_user.admin == false %>
	   
	   <% if current_user.content_code == 700001 %>

	   <div class="col-lg-2 ">
                      <div class="div-square">
                           <a href="https://bossladyforever.com" >
<img src="https://img.icons8.com/dusk/80/000000/internet.png">                      <h4>Boss Lady Login</h4>
                      </a>
                      </div>
                     
                     
                  </div>
	   
				<% end %>
				<% if current_user.content_code == 700002 %>
	   <div class="col-lg-2 ">
                      <div class="div-square">
                           <a href="https://www.shopawg.com/wp-login.php" >
<img src="https://img.icons8.com/dusk/80/000000/internet.png">                      <h4>ShopAWG Login</h4>
                      </a>
                      </div>
                     
                     
                  </div>
				<% end %>
				<% if current_user.content_code == 700003 %>
				<div class="col-lg-2 ">
                      <div class="div-square">
                           <a href="https://newlifefn.com" >
<img src="https://img.icons8.com/dusk/80/000000/internet.png">                      <h4>New Life Fitness</h4>
                      </a>
                      </div>
                     
                     
                  </div>
				<% end %>
	   
	   <% if current_user.ssla_client %>
	   <div class="col-lg-2">
				
				 <div class="div-square">
                    <%= link_to videos_path do %>
                       <%= image_tag ( "https://img.icons8.com/cotton/80/000000/youtube.png")%>
					 <% end %>
                      
					 <h4><%= link_to 'Videos', videos_path %></h4>
                      </div>
				
				
				</div>
	   
	   <div class="col-lg-2 ">
                      <div class="div-square">
                           <a href="#" >
<img src="https://img.icons8.com/dusk/80/000000/donate.png">                      <h4>Donate</h4>
                      </a>
                      </div>
                     
                     
                  </div>
	   
	    <div class="col-lg-2">
                      <div class="div-square">
                           <a href="#" >
<img src="https://img.icons8.com/plasticine/80/000000/overtime.png">                      <h4>Schedule A Session</h4>
                      </a>
                      </div>
                     
                     
                  </div>
	   
	   <% end %>
	   
	   <% if current_user.pc_client %>
	   
	   <div class="col-lg-2">
                      <div class="div-square">
                           <a href="https://purecodewebdesign.com/update.html" >
<img src="https://img.icons8.com/color/80/000000/approve-and-update.png">                   
							   <h4>Request an update</h4>
                      </a>
                      </div>
                     
                     
                  </div>
	   
	   <div class="col-lg-2">
                      <div class="div-square">
                           <a href="https://purecodewebdesign.com/payment.html" >
<img src="https://img.icons8.com/dusk/80/000000/card-in-use--v2.png">                  
							   <h4>Make a payment</h4>
                      </a>
                      </div>
                  </div>
	   
	   <div class="col-lg-2">
                      <div class="div-square">
                           <a href="https://purecodewebdesign.com/statuscheck.html" >
<img src="https://img.icons8.com/officel/80/000000/unknown-status.png">                 
							   <h4>Check Status</h4>
                      </a>
                      </div>
                     
                     
                  </div>
	   <% end %>
	   
	   
	   <% end %>
		   </div>
	   
	   <br>
	   <div class="row">
    <div class="col"><hr></div>
    <div class="col-auto"><h3>DOCUMENT MANAGER</h3></div>
    <div class="col"><hr></div>
</div>
	
	<div class="row">
		<% if current_user.admin == true %>
		
		 <div class="col-lg-2">
				 <div class="div-square">
					<%= link_to uploads_path do %>
                       <%= image_tag ( "https://img.icons8.com/color/80/000000/downloads.png")%>
					
					 <% end %>
					  <h4><%= link_to 'Downloads', uploads_path %></h4>
 
					 
                      </div>
				</div>
		
		<div class="col-lg-2">
				 <div class="div-square">
					<%= link_to uploads_new_path do %>
                       <%= image_tag ( "https://img.icons8.com/officel/80/000000/upload.png")%>
					 
					 <% end %>
					 <h4><%= link_to 'Upload A file', uploads_new_path %></h4>
					 
                      </div>
				</div>
		
	
		
		<% end %>
		
		<% if current_user.admin == false %>
		
		<div class="col-lg-2">
				 <div class="div-square">
					<%= link_to uploads_path do %>
                       <%= image_tag ( "https://img.icons8.com/color/80/000000/downloads.png")%>
					 
					 <% end %>
					 <h4><%= link_to 'Downloads', uploads_path %></h4>
 
					 
                      </div>
				
				
				</div>
		
		<div class="col-lg-2">
				 <div class="div-square">
					<%= link_to uploads_new_path do %>
                       <%= image_tag ( "https://img.icons8.com/officel/80/000000/upload.png")%>
					 <% end %>
					 <h4><%= link_to 'Upload A file', uploads_new_path %></h4>
					 
					 
                      </div>
				</div>
		
		<% end %>
		<% if current_user.pc_client == true %>
		<div class="col-lg-2">
				 <div class="div-square">
					<%= link_to payments_path do %>
                       <%= image_tag ( "https://img.icons8.com/ios-filled/80/000000/activity-history.png")%>
					 <h4><%= link_to 'Payment History', payments_path %></h4>
					 <% end %>
					
					 
                      </div>
				</div>
		<% end %>
		
		<% if current_user.ssla_client == true %>
		<div class="col-lg-2">
				 <div class="div-square">
					<%= link_to payments_path do %>
                       <%= image_tag ( "https://img.icons8.com/ios-filled/80/000000/activity-history.png")%>
					 <% end %>
					 <h4><%= link_to 'Donation History', payments_path %></h4>
			</div>
			</div>
					 <div class="col-lg-2">
				 <div class="div-square">
					<%= link_to logs_path do %>
                       <%= image_tag ( "https://img.icons8.com/officel/80/000000/overview-pages-3.png")%>
					 <% end %>
					<h4><%= link_to 'Session Logs', logs_path %></h4>
 
					
                      </div>
				 
				
				</div>
					 <% end %>
					
		
		
		
		
			
		
		
	</div>
	
	<br>
	 <div class="row">
    <div class="col"><hr></div>
    <div class="col-auto"><h3>Communications</h3></div>
    <div class="col"><hr></div>
</div>
	
	   <div class="row">
		   <% if current_user.admin == false %>
		   
		   <div class="col-lg-2">
                      <div class="div-square">
                           <a href="https://damonsc.my.webex.com/meet/damonsc" >
<img src="https://img.icons8.com/plasticine/80/000000/meeting-room.png">                 
							   <h4>Meeting Room</h4>
                      </a>
                      </div>
                     
                     
                  </div>
		   
		   
		   <div class="col-lg-2">
				 <div class="div-square">
					<%= link_to home_poc_path do %>
                       <%= image_tag ( "https://img.icons8.com/officel/80/000000/phone-contact.png")%>
					 <h4><%= link_to 'Person Of Contact', home_poc_path %></h4>
					 <% end %>
					
					
                      </div>
				</div>
		  
		   
		   
		   <% end %>
		   
		   <% if current_user.admin == true %>
		   <div class="col-lg-2">
                      <div class="div-square">
                           <a href="https://damonsc.my.webex.com/meet/damonsc" >
<img src="https://img.icons8.com/plasticine/80/000000/meeting-room.png">                 <h4>Meeting Room</h4>
                      </a>
                      </div>
                     
                     
                  </div>
		   
		   <% end %>
		   
	   </div>
	
	   <br>
	   <% if current_user.admin == true %>
	 <div class="row">
    <div class="col"><hr></div>
    <div class="col-auto"><h3>Resources</h3></div>
    <div class="col"><hr></div>
</div>
	   
	   <div class="row">
		   
		   <div class="col-lg-2">
                      <div class="div-square">
                           <a href="https://icons8.com/icons/set/leaf" >
<img src="https://img.icons8.com/dusk/80/000000/leaf.png">                 <h4>Icons</h4>
                      </a>
                      </div>
                     
                     
                  </div>
		   
	   </div>
	   <% end %>
   </div>
	

</body>

</html>

