<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>World Connect</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>

  <%= render 'home/header' %>
  
   <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">World Connect</h1>
        <p class="lead">This is the base for all communicative needs</p>
        <ul class="list-unstyled">
          <li><%= link_to 'create a client', new_user_registration_path %> </li>
			<li><%= link_to 'edit a client', edit_user_registration_path %> </li>
          <li><%= link_to 'log in a client', new_user_session_path %> </li>
			<li><%= link_to 'create a status', updates_path %> </li>
        
		 </div>
    </div>
  </div>

</body>

</html>

