<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>

  <%= render 'home/header' %>

   <div class="container-fluid">
    <div class="row" style = "padding-bottom: 100px;">
		 <div class="col-lg-12 text-center">
        

        <p class="lead">This software was custom developed by <a href="https://purecodedigital.com">Pure Code</a> using Ruby on Rails. We can develop custom software for you as well.</p>
			 <br>
			 <% if user_signed_in? %>
			 <p class="lead">Welcome back <%= current_user.first_name %></p>
			 <%end%>

		</div>
	   </div>

	   <!---------------User Manager-------------------------------------->

	   
<%= render 'home/usermanagement' %>
	   
	   <br>
	   
	   <!-------------------Content Manager----------------------------------->


<%= render 'home/contentmanager' %>


	   

	   <br>
	   
	   	   <!-------------------Document Manager----------------------------------->

	   
	   
	   <%= render 'home/documentmanager' %>


	
	<br>
	   
	   	   	   <!-------------------Communication Manager----------------------------------->

	   	   <%= render 'home/comm-manager' %>

	   
	
	   
	   <br>
        
	   	   	   	   <!-------------------Team Resources----------------------------------->

	   <%= render 'home/resources' %>       
       
       

   </div>


</body>

</html>
