<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>World Connect</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>

  <%= render 'home/header' %>
  
   <div class="container">
    <div class="row">
		 <div class="col-lg-12 text-center">
        <h1 class="mt-5">World Connect</h1>
        <p class="lead">This is the base for all your communicative needs</p>
			 <% if user_signed_in? %>
			 <p class="lead">Welcome back <%= current_user.first_name %></p>
			 <%end%>
			 
		</div>
	   </div>
	    <div class="row">
			<!---------------User Manager-------------------------------------->
		<div class="col-lg-3">
			<% if admin_signed_in? %>
			<div class="card" style="width: 18rem;">
				<div class="card-header">
    USER MANAGEMENT
  </div>
				
			<ul class="list-group list-group-flush">
				
							
    <li class="list-group-item"><%= link_to 'create a new client ', new_user_registration_path %> </li>			
	<li class="list-group-item"><%= link_to 'create a new Admin ', new_admin_registration_path %> </li>
	<li class="list-group-item"><%= link_to 'edit admin profile', edit_admin_registration_path %> </li>	
				<li class="list-group-item"> </li>
				<li class="list-group-item"> </li>
				</ul>
			</div>
			<% end %>
			
			
			<% if user_signed_in? %>
			<div class="card" style="width: 18rem;">
				<div class="card-header">
    User Manager(admin only area)
  </div>
			<ul class="list-group list-group-flush">
				
  				
				<li class="list-group-item"><%= link_to 'edit profile', edit_user_registration_path %> </li>
				<% if current_user.ssla_client %>
				<li class="list-group-item"><%= link_to 'Video manager', new_video_path %> </li>
				<% end %>
				
				
				
				</ul>
			</div>
			<% end %>
			
			</div>
			<!---------------Content Manager-------------------------------------->
    <div class="col-lg-3">
		<% if admin_signed_in?%>
	<div class="card" style="width: 18rem;">
				<div class="card-header">
    Content Manager
  </div>
			<ul class="list-group list-group-flush">
				
							
  		
								<li class="list-group-item"><%= link_to 'Video manager', videos_path %> </li>

				
				
				
				
			</div>
		<% end %>
		
		
		<% if user_signed_in? %>
			<div class="card" style="width: 18rem;">
				<div class="card-header">
    Content Manager
  </div>
			<ul class="list-group list-group-flush">
				
							
  				<% if current_user.email == 'lakeisha@purecodewebdesign.com' %>
				<li class="list-group-item"><%= link_to "Boss lady manager", "http://bossladyforever.com" %> </li>
				<% end %>
				
				
				<% if current_user.ssla_client %>
				<li class="list-group-item"><%= link_to 'Schedule a session', "https://form.jotform.com/72344436584158"%> </li>
				<li class="list-group-item"><%= link_to 'Videos', videos_path%> </li>
				<li class="list-group-item"><%= link_to 'Donate', "#"%> </li>
				
				<% end %>
				
				<% if current_user.pc_client %>
				<li class="list-group-item"><%= link_to 'Request an update', "https://purecodewebdesign.com/update.html"%> </li>
				<li class="list-group-item"><%= link_to 'make a payment', "https://purecodewebdesign.com/payment.html"%> </li>
				<li class="list-group-item"><%= link_to 'Check Status', "https://purecodewebdesign.com/statuscheck.html"%> </li>
				<% end %>
				</ul>
			</div>
			<% end %>
    </div>
			
		<!---------------Document Manager-------------------------------------->
    <div class="col-lg-3">
		<% if user_signed_in? %>
			<div class="card" style="width: 18rem;">
				<div class="card-header">
    Document Manager
  </div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><%= link_to 'Downloads', uploads_path %> </li>
							
  			
				
				
	

				
				<li class="list-group-item"><%= link_to 'Upload A File', uploads_new_path %> </li>
				
				
				
				
				</ul>
			</div>
			<% end %>
		</div>
		
		<!---------------Communications-------------------------------------->
			<div class="col-lg-3">
      <% if user_signed_in? %>
			<div class="card" style="width: 18rem;">
				<div class="card-header">
    Communications
  </div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><%= link_to 'Meeting Room', 'https://damonsc.my.webex.com/meet/damonsc' %> </li>
										
				
				
				
				</ul>
			</div>
			<% end %>
    </div>
		
		
		<!--------------------------------------------------
		<div class="col-lg-3">
     
			<div class="card" style="width: 18rem;">
				<div class="card-header">
   
  </div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"> </li>
				<li class="list-group-item"> </li>
										<li class="list-group-item"> </li>
				<li class="list-group-item"> </li>
				<li class="list-group-item"> </li>
				
				
				
				</ul>
			</div>
			
    </div>
--->
		
				<!-----------------------------------------------------
		<div class="col-lg-3">
     
			<div class="card" style="width: 18rem;">
				<div class="card-header">
   
  </div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"> </li>
				<li class="list-group-item"> </li>
										<li class="list-group-item"> </li>
				<li class="list-group-item"> </li>
				<li class="list-group-item"> </li>
				
				
				
				</ul>
			</div>
			
    </div>
		--->
		
				<!----------------------------------------------------
		<div class="col-lg-3">
     
			<div class="card" style="width: 18rem;">
				<div class="card-header">
   
  </div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"> </li>
				<li class="list-group-item"> </li>
										<li class="list-group-item"> </li>
				<li class="list-group-item"> </li>
				<li class="list-group-item"> </li>
				
				
				
				</ul>
			</div>
			
    </div>
		--->
				<!----------------------------------------------------
		<div class="col-lg-3">
     
			<div class="card" style="width: 18rem;">
				<div class="card-header">
   
  </div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"> </li>
				<li class="list-group-item"> </li>
										<li class="list-group-item"> </li>
				<li class="list-group-item"> </li>
				<li class="list-group-item"> </li>
				
				
				
				</ul>
			</div>
			
    </div>
      --->
        
        
		 </div>
    </div>

</body>

</html>

