<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <%= render 'home/header' %>

<h1>Profile Information</h1>
<div class="card">
	<% if user_signed_in? %>
  <div class="card-header">
   <h4>Hello <%= current_user.first_name %></h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Here is the most current information that we have on file.</h5>
    <p class="card-text">First Name: <%= current_user.first_name %> </p>
	  <p class="card-text">Last Name: <%= current_user.last_name %> </p>
	   <p class="card-text">Email: <%= current_user.email %> </p>
	  	   <p class="card-text">Phone number: <%= current_user.phone_number %> </p>
	  <p class="card-text">User Name: <%= current_user.username %> </p>
	  <% if current_user.ssla_client == true %>
	  <div class="alert alert-success" role="alert">
	  <p class="card-text">SSLA client </p>
	  </div>
	  <% end %>
 <% if current_user.pc_client == true %>
	  <div class="alert alert-success" role="alert">
  <p class="card-text">PureCode Web Design Client </p>
	  </div>
	  <% end %>
	  <% end %>
  </div>
</div>