<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @client_code.client %>
</p>

<p>
  <strong>Code:</strong>
  <%= @client_code.code %>
</p>

<%= link_to 'Edit', edit_client_code_path(@client_code) %> |
<%= link_to 'Back', client_codes_path %>
