<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="panel panel-default">
	

		<h1>Status Updates</h1>

<p id="notice"><%= notice %></p>
<% @updates.each do |update| %>
<div class="card">
  <h3 class="card-header"><%= update.title %></h3>
  <div class="card-body">
    <p class="card-text"><%= update.status %></p>
	   <h5 class="card-title">submitted by: <%= update.creater %> &nbsp; <%= update.time.in_time_zone('EST') %> -EST</h5>
    
	  <p><%= link_to 'Show', update %> &nbsp; <%= link_to 'Edit', edit_update_path(update) %> &nbsp; <%= link_to 'Delete', update, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
  </div>
	
</div>
<% end %>
<%= link_to 'Create New Update', new_update_path, class: 'btn btn-light' %>


 

