<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="panel panel-default">
	

		<h1>Notes</h1>
	<ul class="list-inline">
  <li class="list-inline-item"><%= link_to 'Home', root_path, class:'btn btn-light' %></li>
</ul>
<p id="notice"><%= notice %></p>

<div class="card">
  <h3 class="card-header"><%= @update.title %></h3>
  <div class="card-body">
    <p class="card-text"><%= @update.status %></p>
	   <h5 class="card-title">submitted by: <%= @update.creater %> &nbsp; <%= @update.time.in_time_zone('EST') %> -EST</h5>
	  
	  <ul class="list-inline">
		  <% if current_user.admin? %>
  <li class="list-inline-item"><%= link_to 'Edit', edit_update_path %></li>
  <li class="list-inline-item"><%= link_to 'Delete', @update, method: :delete, data: { confirm: 'Are you sure?' } %>
		  <% end %>
		  </li>
</ul>
    
	
  </div>
	

</div>