<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @update.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @update.status %>
</p>

<p>
  <strong>Creater:</strong>
  <%= @update.creater %>
</p>

<p>
  <strong>Time:</strong>
  <%= @update.time %>
</p>
<% if @pin.user == current_user %>
<%= link_to 'Edit', edit_update_path(@update) %> |
<% end %>

<%= link_to 'Back', updates_path %>
