<p id="notice"><%= notice %></p>

<p>
  <strong>Reason:</strong>
  <%= @payment.reason %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>

<p>
  <strong>Reference code:</strong>
  <%= @payment.reference_code %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
