<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<% if !@upload.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @upload.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>


<!--html: { multipart: true }-->
<% if current_user.admin %>
<%= form_for @upload, html: { multipart: true } do |f| %>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col"><%= f.label :File_Name %></th>
      <th scope="col"><%= f.label :file %></th>
	  <th scope="col"><%= f.label :Intended_user %></th>
	 <th scope="col"><%= f.label :Select_Reference %></th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= f.text_field :name %></td>
      <td><%= f.file_field :attachment %></td>
      <td><%= f.text_field :intended_user %></td>
	 <td><%= f.collection_select :reference_code, User.order(:email),:content_code, :email %></td>
		<%= f.hidden_field :user_submit, value: current_user.first_name + current_user.last_name  %>
		
	
    </tr>
   
   
  </tbody>
</table>
<%= f.submit "Save", class: "btn btn-light" %>
<%= link_to "Home", root_path, class: "btn btn-light" %>

   <% end %>
<% end %>

<% if current_user.admin ==false %>
<%= form_for @upload, html: { multipart: true } do |f| %>
    <table class="table table-borderless">
      <thead>
      <tr>
        <th scope="col"><%= f.label :File_Name %></th>
        <th scope="col"><%= f.label :file %></th>
        <th scope="col"><%= f.label :Upload_Reason %></th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= f.text_field :name %></td>
        <td><%= f.file_field :attachment %></td>
        <td><%= f.text_field :intended_user %></td>
		  <%= f.hidden_field :user_submit, value: current_user.email  %>

      </tr>


      </tbody>
    </table>
    <%= f.submit "Save", class: "btn btn-light" %>

<%= link_to "Home", root_path, class:"btn btn-light" %>
<% end %>
<% end %>

