<%= form_with(model: ticket_handler) do |form| %>
  <% if ticket_handler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket_handler.errors.count, "error") %> prohibited this ticket_handler from being saved:</h2>

      <ul>
        <% ticket_handler.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event %>
    <%= form.text_field :event %>
  </div>

<% if ticket_handler.backup_char != nil %>
<div class="field">
    <%= form.label :backup_code %>
    <%= form.text_field :backup_char,readonly:true  %>
  </div>
<% end %>

  <div class="field">
    <%= form.hidden_field :code, value:10 %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>



<div class="field">
	 <%= form.label :Batch_Amount %>
<%= form.number_field :batch_amount, readonly:true %>
</div>
 
    <%= form.hidden_field :is_ticket,  value: true %>
  


    <%= form.hidden_field :ticket %>






	
	
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
