<p id="notice"><%= notice %></p>

<p>
  <strong>Date of session:</strong>
  <%= @log.date_of_session %>
</p>


<p>
  <strong>Details:</strong>
  <%= @log.details %>
</p>

<p>
  <strong>Reference code:</strong>
  <%= @log.reference_code %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
